[submodule "SGF/lib/glfw"]
	path = SGF/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SGF/lib/imgui"]
	path = SGF/lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "SGF/lib/glm"]
	path = SGF/lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "SGF/lib/stb"]
	path = SGF/lib/stb
	url = https://github.com/nothings/stb.git
[submodule "SGF/lib/Vulkan-Headers"]
	path = SGF/lib/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "SGF/lib/volk"]
	path = SGF/lib/volk
	url = https://github.com/zeux/volk.git
[submodule "SGF/lib/nativefiledialog-extended"]
	path = SGF/lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "SGF/lib/assimp"]
	path = SGF/lib/assimp
	url = https://github.com/assimp/assimp.git
[submodule "SGF/lib/fmt"]
	path = SGF/lib/fmt
	url = https://github.com/fmtlib/fmt.git
